# ========================
# Файли компіляції та збірки
# ========================
*.exe
*.obj
*.o
*.out
*.dll
*.so
*.lib
*.a
*.pdb
*.ilk
*.idb

# ========================
# Директорії збірки (CMake тощо)
# ========================
build/
bin/
out/
Release/
Debug/
x64/
x86/

# ========================
# Налаштування середовищ розробки (IDE)
# ========================
# Visual Studio
.vs/
*.sln.docstates
*.suo
*.user

# VS Code
.vscode/

# CLion / JetBrains
.idea/
cmake-build-*/
*.APS